<h1>{{title}}</h1><!--interpolation call value  -->
<input type="text" value={{title}}> <!--interpolation call value for attributs  -->
<!-- <p> this run the function {{ doSomething()}} </p> <!--interpolation call methode -->
<!-- add bosstrap et awsome font go on this site npmjs/ search the extention / copy code npm i font-awesome
copy in cosole add after --save  and enter go to main css and add the line for importing  -->
<!--event binding -->
<button (click)="doSomethingforButton('show me this message')">Click on me</button>
<br/>
<p> get my value and show it in console </p>
<input type="text" (keypress)="getMyValue($event)" #mytext>
<p> this is in the field <span style="color:red">{{ theTextInInput }}</span></p>
<p> get text by ID # form input  <span style="color:red">{{ mytext.value }}</span></p>
<button (click)="doSomethingforButton(mytext.value)"> show input text</button>
<p [style.backgroundColor]="color" [hidden]="show"> this is a binding of attributs </p> <!-- value of color comes from component ts-->

<!-----------------------------two way binding -->
<!--propeerty  binding -->
<div style="width: 100px; height: 100;" [style.backgroundColor]="color"> type my color in input</div>
<input type="text" #selectedColor (change)="changaColor(selectedColor)"/>
<app-authentification></app-authentification> 